<!DOCTYPE html>
<html>
  <head>
    <title>بلاکچین نور امید</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>

  <body ng-app="BlockExplorer">
    <div class="container" ng-controller="MainController">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 id="page-title">بلاکچین نور امید</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form ng-submit="search(searchValue)">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="searchValue" />
            </div>
            <div class="form-group">
              <select class="form-control" ng-model="searchType">
                <option value="block">هش بلاک</option>
                <option value="transaction">شناسه انتقال</option>
                <option value="address">آدرس</option>
              </select>
            </div>
            <button
              type="submit"
              class="btn btn-primary margin-auto btn-search"
            >
              جستجو
            </button>
            <p
              ng-if="!block && !transaction && !addressData && initialSearchMade"
              class="no-data-text"
            >
              برای جستجو اطلاعاتی یافت نشد.
            </p>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <!-- 'display block' table -->
          <h3 class="table-title" ng-if="block">بلاک</h3>
          <table class="table table-striped" ng-if="block">
            <tbody>
              <tr>
                <td class="bold">هش بلاک</td>
                <td>{{ block.hash }}</td>
              </tr>
              <tr>
                <td class="bold">شناسه</td>
                <td>{{ block.index }}</td>
              </tr>
              <tr>
                <td class="bold">زمان</td>
                <td>{{ block.timestamp }}</td>
              </tr>
              <tr>
                <td class="bold">ناس</td>
                <td>{{ block.nonce }}</td>
              </tr>
              <tr>
                <td class="bold">هش بلاک قبلی</td>
                <td>{{ block.previousBlockHash }}</td>
              </tr>
              <tr>
                <td class="bold">تعداد تراکنش ها</td>
                <td>{{ block.transactions.length }}</td>
              </tr>
            </tbody>
          </table>
          <!-- end 'display block' table -->

          <!-- 'display transaction' table -->
          <h3 class="table-title" ng-if="transaction">تراکنش</h3>
          <table class="table table-striped" ng-if="transaction">
            <tbody>
              <tr>
                <td class="bold">فرستنده</td>
                <td>{{ transaction.sender }}</td>
              </tr>
              <tr>
                <td class="bold">گیرنده</td>
                <td>{{ transaction.recipient }}</td>
              </tr>
              <tr>
                <td class="bold">تعداد</td>
                <td>{{ transaction.amount }}</td>
              </tr>
            </tbody>
          </table>
          <!-- end 'display transaction' table -->

          <!-- 'display address' table -->
          <h3 class="table-title" ng-if="addressData">آدرس</h3>
          <p id="balance-text" ng-if="addressData">
            (موجودی: {{ addressData.addressBalance }})
          </p>
          <table class="table table-striped" ng-if="addressData">
            <thead>
              <tr>
                <th scope="col">فرستنده</th>
                <th scope="col">گیرنده</th>
                <th scope="col">تعداد</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="transaction in addressData.addressTransactions">
                <td>{{ transaction.sender }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.amount }}</td>
              </tr>
            </tbody>
          </table>
          <!-- end 'display address' table -->
        </div>
      </div>
    </div>

    <script>
      window.app = angular.module("BlockExplorer", []);

      app.controller("MainController", function ($scope, $http) {
        $scope.block = null;
        $scope.transaction = null;
        $scope.addressData = null;
        $scope.initialSearchMade = false;

        $scope.fetchBlock = function (blockHash) {
          $http.get(`/block/${blockHash}`).then((response) => {
            $scope.block = response.data.block;
            $scope.transaction = null;
            $scope.addressData = null;
          });
        };

        $scope.fetchTransaction = function (transactionId) {
          $http.get(`/transaction/${transactionId}`).then((response) => {
            $scope.transaction = response.data.transaction;
            $scope.block = null;
            $scope.addressData = null;
          });
        };

        $scope.fetchAddressData = function (address) {
          $http.get(`/address/${address}`).then((response) => {
            $scope.addressData = response.data.addressData;
            if (!$scope.addressData.addressTransactions.length)
              $scope.addressData = null;
            $scope.block = null;
            $scope.transaction = null;
          });
        };

        $scope.search = function (searchValue) {
          $scope.initialSearchMade = true;
          if ($scope.searchType === "block") {
            $scope.fetchBlock(searchValue);
          } else if ($scope.searchType === "transaction") {
            $scope.fetchTransaction(searchValue);
          } else if ($scope.searchType === "address") {
            $scope.fetchAddressData(searchValue);
          }
        };
      });
    </script>

    <style type="text/css">
      html,
      body {
        min-height: 100vh;
        background-color: #e8e8e8;
      }
      .container {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      #page-title {
        text-align: center;
        margin-bottom: 40px;
      }
      .table-title {
        margin-bottom: 20px;
        text-align: center;
      }
      .table {
        background-color: #ffffff;
        box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.75);
      }
      #balance-text {
        text-align: center;
        margin-top: -20px;
        margin-bottom: 30px;
      }
      .margin-auto {
        margin: auto;
        display: block;
      }
      .btn-search {
        margin-bottom: 50px;
      }
      .bold {
        font-weight: 700;
      }
      .no-data-text {
        color: red;
        text-align: center;
      }
    </style>
  </body>
</html>
